<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CS411 bib</title>

</head>

<body>

	<h1><p style="font-family:Courier; text-align:center;">Powered With Help From</p></h1>


	<h2><p style="font-family:Courier; text-align:center;">Weather Underground</h2>
  	<p style="font-family:Courier; text-align:center;">https://www.wunderground.com/
  	</p>
  <img src="wunderground logo.jpg" alt="">

  	<h2><p style="font-family:Courier; text-align:center;">The Movie Database</h2>
  	<p style="font-family:Courier; text-align:center;">https://www.themoviedb.org/?language=en
  	</p>
  <img src="tmdb logo.jpg" alt="">

  <h2><p style="font-family:Courier; text-align:center;">Twitter Developer Oauth</h2>
  	<p style="font-family:Courier; text-align:center;">https://developer.twitter.com/en/docs/basics/authentication/overview/oauth
  	</p>
  <img src="twitter logo.jpg" alt="">

  <h2><p style="font-family:Courier; text-align:center;">tmdbv3</h2>
  	<p style="font-family:Courier; text-align:center;">https://www.npmjs.com/package/tmdbv3
  	</p>
   	<p style="font-family:Courier; text-align:center;">published by mikaelemilsson
  	</p>

  <h2><p style="font-family:Courier; text-align:center;">node-weatherunderground</h2>
  	<p style="font-family:Courier; text-align:center;">https://www.npmjs.com/package/node-weatherunderground
  	</p>
   	<p style="font-family:Courier; text-align:center;">published by jgeller
  	</p>


</body>
</html>






