extends ../node_modules/jade-bootstrap/_bootstrap

block content
    +dropdown("My Dropdown Menu",[
        {text: "Action/Adventure", url: "#"},
        {text: "Animation", url: "#"},
        {text: "Classics", url: "#"},
        {text: "Comedy", url: "#"},
        {text: "Crime", url: "#"},
        {text: "Drama", url: "#"},
        {text: "Fantasy", url: "#"},
        {text: "Foreign", url: "#"},
        {text: "Horror", url: "#"},
        {text: "Indie", url: "#"},
        {text: "Musicals", url: "#"},
        {text: "Romance", url: "#"},
        {text: "Science Fiction", url: "#"},
        {text: "Thriller", url: "#"}

    ])